@{
    ViewBag.Title = "O nama";
}
<body style="background-image:url(https://findingtimetowrite.files.wordpress.com/2016/06/houseontherockwisconsin.jpg);  color:white">
    

    <h2>Mi smo mlad tim, koji ceka velike i vazne projekte!</h2>
    <h3>Vi osmislite, mi ostvarujemo vase zelje!!!</h3>
    </body>