@{
    ViewBag.Title = "Contact";
}

<body style="background-image:url(https://findingtimetowrite.files.wordpress.com/2016/06/houseontherockwisconsin.jpg);  color:white">


    <address>
        Levskoga 12, Stara Karaburma<br />
        Beograd, Palilula 11060<br />
        <abbr title="Phone">Telefon:</abbr>
        064/900-2418
    </address>

    <address>
        <strong>Kontakt osoba 1:</strong>   <a href="mailto:Zoran.radeski92@gmail.com">Zoran.radeski92@gmail.com</a><br />
        <strong>Kontakt osoba 2:</strong> <a href="mailto:Nemanja.topalovic@gmail.com">Nemanja.topalovic@gmail.com</a>
    </address>
